<ion-view style="background-color: #272733;" can-swipe-back="false">

    <ion-header-bar class="bar bar-dark bar-header" align-title="center">
        <button ng-click="vm.goBack()" class="button button-icon icon ion-arrow-left-c"></button>
        <h1 class="title">Account Details</h1>
        <button ng-click="vm.deleteAccount()" class="button button-icon icon ion-trash-a"></button>
    </ion-header-bar>

    <ion-content class="has-header">


        <div class="list">

            <div style="background-color: #c5c5c5"class="item item-divider item-stable">
                <h3>Account Info</h3>
            </div>

            <div class="item">
                <h2 style="float:left">Provider</h2>
                <img style="float:right;margin:-5px -5px -5px 10px;"src={{vm.getLogo(vm.account.platform_name)}} width="30"height="30"/>
                <h2 style="float:right">{{vm.capitalise(vm.account.platform_name)}}</h2>

            </div>

            <div class="item">
                <h2 style="float:left">Name</h2>
                <h2 style="float:right">{{vm.account.name}}</h2>
            </div>

            <div class="item">
                <h2 style="float:left">Identifier</h2>
                <h2 style="float:right">{{vm.account.identifier}}</h2>
            </div>

            <div style="background-color: #c5c5c5"class="item item-divider item-stable">
                <h3>All Data</h3>
            </div>

            <div ng-hide="vm.hideData" class="item">
                <button ng-click="vm.showAllData()">Show Data</button>
            </div>

            <div ng-hide="!vm.hideData" ng-repeat="key in vm.account_keys"class="item">
                <h2>{{key}}</h2>
                <h3>{{vm.account[key]}}</h2>
            </div>


            


        </div>





    </ion-content>




</ion-view>