<ion-view style="background-color: #272733;" can-swipe-back="false">

    <ion-header-bar class="bar-dark" align-title="center">
        <h1 class="title">Add Account</h1>
    </ion-header-bar>

    <div class="fb-login-button" data-width="150" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
    
    <ion-content class="has-header">


        <div ng-hide="!vm.noEvents">

            <ion-list>
                <ion-item ng-click="vm.FBLogin()" ng-repeat="">
                    Facebook login
                </ion-item>

                <ion-item ng-click="vm.InstaLogin()" ng-repeat="">
                    Instagram login
                </ion-item>

                <ion-item ng-click="vm.TwitterLogin()" ng-repeat="">
                    Twitter login
                </ion-item>

            </ion-list>

        </div>

        



    </ion-content>




</ion-view>