<ion-view style="background-color: #272733;" can-swipe-back="false">

    <ion-header-bar class="bar-dark" align-title="center">
        <h1 class="title">Add Account</h1>
    </ion-header-bar>

    <ion-content class="has-header">


        <div>

            <ion-list>
                <ion-item ng-click="vm.oauth_login('facebook')" >
                    Facebook
                </ion-item>

                <ion-item ng-click="vm.oauth_login('instagram')" >
                    Instagram
                </ion-item>

                <ion-item ng-click="vm.oauth_login('twitter')" >
                    Twitter
                </ion-item>

            </ion-list>

        </div>

        



    </ion-content>




</ion-view>