<ion-view style="background-color: #272733;" can-swipe-back="false">

    <ion-header-bar class="bar-dark" align-title="center">
        <button ng-click="vm.goBack()" class="button button-icon icon ion-chevron-left"></button>
        <h1 class="title">Post Detail</h1>
    </ion-header-bar>

    <ion-content class="has-header">
        <div style="margin:0 10px 0 10px;">
            <img width="50" height="50" style="float:left;" src={{vm.getLogo(vm.post.platform_name)}}
                alt="failed getting logo" />
            <h2 style="line-height: 50px;position:relative;left:20px;"class="light">{{vm.post.from}}</h2>
            <h3 class="light">{{vm.formatDate(vm.post.when)}}</h3>
            <h4 class="light">{{vm.post.text}}</h3>
        </div>

    </ion-content>

    <ion-footer-bar class="bar bar-dark bar-footer row" style="position:fixed; bottom:0px; padding: 0px;">
        <i class="col-20"></i>

        <button class="button button-positive col" style="margin: 5px; color: white;" ng-click="vm.done()"
            style="position: absolute; width: 50%; left: 50%; transform: translate(-50%,0%);">
            Done
        </button>

        <i class="col-20"></i>
    </ion-footer-bar>

</ion-view>