<ion-view style="background-color: #f3f3f3;" can-swipe-back="false">

    <ion-header-bar class="bar-dark" align-title="center">
        <button ng-click="vm.goBack()" class="button button-icon icon ion-arrow-left-c"></button>
        <h1 class="title">Post Detail</h1>
    </ion-header-bar>

    <ion-content>
        <div style="margin:0 20px -20px 20px;">
            <img width="50" height="50" style="float:left;" src={{vm.getLogo(vm.post.platform_name)}}
                alt="failed getting logo" />
            <h2 style="line-height: 50px;position:relative;left:20px;"class="dark">{{vm.post.from}}</h2>
            <p style="font-size:18px;color:#707070">{{vm.formatDate(vm.post.when)}}</p>
            <h4 class="dark">{{vm.post.text}}</h4>
        </div>

        <br><br>
        <div>
            <div class="card" style="margin:30px auto 0 auto; width:40%;">
                <ion-list>
                    <ion-item style="font-size:x-large" ng-repeat="stat in vm.stats_keys">
                        <i class={{vm.getIcon(stat)}} style="float:left;margin-right:20px"></i>
                        <h3 style="float:right;font-size: x-large">{{vm.stats[stat]}}</h3>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>

    

</ion-view>