<ion-view style="background-color: #272733;" can-swipe-back="false" cache-view="false">

    <ion-header-bar class="bar-dark" align-title="center">
        <button ng-click="vm.filterResults()"class="button button-icon icon ion-android-search"></button>
        <h1 class="title">Social Collate</h1>
        <button ng-click="vm.accountList()" class="button button-icon icon ion-navicon-round"></button>
    </ion-header-bar>

    <div class="fb-login-button" data-width="150" data-size="large" data-button-type="continue_with"
        data-auto-logout-link="false" data-use-continue-as="false"></div>

    <ion-content class="has-header">


        <div>

            <ion-list>
                <ion-item ng-click="vm.showDetail(post)" ng-repeat="post in vm.posts">
                    <img width="50"height="50"style="float:left;margin-right:" src={{vm.getLogo(post.platform_name)}} alt="failed getting logo"/>
                    <div style="position:relative;left:15px;margin-top:5px;">
                        <h2>{{post.from}}</h2>
                        <p>{{post.text}}</p>
                    </div>
                    <div style="position:absolute;right:5px;top:5px;text-align:right;">
                       <h4>{{vm.formatDate(post.when)}}</h4>
                    </div>
                </ion-item>
            </ion-list>
        </div>

    </ion-content>

    <ion-footer-bar class="bar bar-dark bar-footer row" style="position:fixed; bottom:0px; padding: 0px;">
        <i class="col-20"></i>

        <button class="button button-positive col" style="margin: 5px; color: white;" ng-click="vm.update()"
            style="position: absolute; width: 50%; left: 50%; transform: translate(-50%,0%);">
            Update
        </button>

        <i class="col-20"></i>
    </ion-footer-bar>

</ion-view>